<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Machines</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="add-machine">
      <form method="post">
        <input type="text" name="name" placeholder="name" required class="add"><br>
        <input type="number" name="serial_number" placeholder="serial number" required class="add"><br>
        <input type="date" name="end_of_guarantee_date" placeholder="guarantee" required class="add"><br>
        <select name="game_type_id">
          <% for(var i=0; i<types.length; i++){ %>
            <option value="<%= types[i].id %>"> <%= types[i].name %> </option>
            <% } %>
        </select><br>
        <input type="submit" value="Add machine" class="add">
      </form>
    </div>
    <div class="read-machine-data">
      <table>
        <tr>
          <td>Name</td>
          <td>Serial number</td>
          <td>Guarantee</td>
          <td>Game Type</td>
          <td>Delete</td>
        </tr>
        <% for(var i=0; i<machines.length; i++){ %>
          <tr>
            <td><%= machines[i].name %></td>
            <td><%= machines[i].serial_number %></td>
            <td><%= machines[i].end_of_guarantee_date.toISOString().split('T')[0] %></td>
            <td><%= machines[i].game_type_name %></td>
            <td>
              <form action="<%= machineURL(machines[i].id) %>?_method=delete" method="post"><input type="submit" value="Delete"></form>
            </td>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
